

.card__link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.card{
    display: flex;
    height: fit-content;
   /* min-width: 30rem;*/
    border: 2px solid #576F72;
    flex-direction: column;
    padding: 1rem;
   /* max-width: 100%;*/
   width: 100% !important;
   transition: 400ms;
   cursor: pointer;
   border-radius: 1rem;

}

.card:hover{
    border-color: black;
}

.card__header{
    display: flex;
    width: 100%;
    gap: 2rem;
}

.card__info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 80%;
}

.card__info p{
    width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card__user{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.card__user img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.card__user p{
    white-space: none;
    font-size: 0.8rem;
    text-align: center;
}

.card__country {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card__country img{
    width: 40%;
    object-fit: contain;
}

.card__footer{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}