.input{
    outline: none;
    border: 1px solid var(--gris-100);
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    transition: 400ms;
}

.input:focus{
    border: 1px solid var(--verde);
}