.button{
    background-color: var(--gris);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: bold;
    color:black;
    transition: 400ms;
}

.button--block{
    width: 100%;
}


.button--verde{
    background-color: var(--verde);
    color: white;
}

.button--verde:hover{
    background-color: var(--verde-200);
}