.button{
    background-color: var(--gris);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.8rem 1rem 0.8rem 1rem;
    font-weight: bold;
    color:white;
    transition: 400ms;
    width: fit-content;
}

.button--big{
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.2rem;

}

.button--block{
    width: 100%;
}

.button--verde{
    background-color: var(--verde);
    color: white;
}

.button--verde:hover{
    background-color: var(--verde-200);
}

.button--white{
    background-color: white;
    color: #26ADD3;
    border: 1px solid #26ADD3;
}

.button--white:hover{
    background-color: var(--blue);
}
.button--blue{
    background-color: #26ADD3;
    color: var(--black);
    border: 1px solid white;
    
}

.button--blue:hover{
    background-color: var(--green);
}