.center-table{
    display: flex;
    justify-content: center;
    margin: 1rem;
    transform: translate(0%, 50%);
}
.table{
    width: 75%;
    border-spacing: 0;
    background: #F2F2F2;
}
.table-header{
    background: #0F4C75;
    color: white;
    font-size: 1rem;
    text-align: center;
}
.table td{
    border-top: 2px solid #CFD2CF;
    border-bottom: none;
}
.table th, td {
    padding: 1rem !important;
    text-align: center;
}
.btn-save{
    background: #39AEA9;
    width: auto;
    height: auto;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 0.5rem;
}
.label-checkbox{
    margin-left: 1rem;
}