.navbar-administrator{
    background-color: #0F4C75;
    width: 100%;
    height: 4rem;
    display: flex;
}
.navbar-link:hover{
    background: rgba(150, 150, 150, 0.3);
    transition: 400ms;
}
.navbar-administrator li{
    display: inline;
    float: left;
}
.navbar-administrator li a{
    display: flex;
    padding: 1rem;
    justify-content: start;
}
.navbar-administrator ul{
    list-style-type: none;
    align-self: center;
    margin: 0;
    padding: 0;
}
.div-navbar-image{
    display: flex;
    width: 55%;
    justify-content: end;
    align-items: center;
}
.div-navbar-image img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.navbar-link{
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    border-right: 1px solid white;
}
.a-navbar-user-link{
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}
.ul-navbar-link{
    margin-left: 1rem;
}

